################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RoboCat/v15
.vs/RoboCat/v16/.suo
.vs/RoboCat/v16/Browse.VC.db
.vs/RoboCat/v16/Browse.VC.opendb
.vs/RoboCat/v16/Solution.VC.db
.vs/RoboCat/v16/Solution.VC.db-shm
.vs/RoboCat/v16/Solution.VC.db-wal
Debug/RoboCatClient.exe
Debug/RoboCatClient.ilk
Debug/RoboCatClient.pdb
Debug/RoboCatServer.exe
Debug/RoboCatServer.ilk
Debug/RoboCatServer.pdb
RoboCat.sln
RoboCat/Bin/Debug/openal32.dll
RoboCat/Bin/Debug/RoboCat.lib
RoboCat/Bin/Debug/RoboCat.pdb
RoboCat/Bin/Debug/sfml-audio-2.dll
RoboCat/Bin/Debug/sfml-audio-d-2.dll
RoboCat/Bin/Debug/sfml-graphics-2.dll
RoboCat/Bin/Debug/sfml-graphics-d-2.dll
RoboCat/Bin/Debug/sfml-network-2.dll
RoboCat/Bin/Debug/sfml-network-d-2.dll
RoboCat/Bin/Debug/sfml-system-2.dll
RoboCat/Bin/Debug/sfml-system-d-2.dll
RoboCat/Bin/Debug/sfml-window-2.dll
RoboCat/Bin/Debug/sfml-window-d-2.dll
RoboCat/Debug/AckRange.obj
RoboCat/Debug/ConnectionDetails.obj
RoboCat/Debug/DeliveryNotificationManager.obj
RoboCat/Debug/Engine.obj
RoboCat/Debug/GameObject.obj
RoboCat/Debug/GameObjectRegistry.obj
RoboCat/Debug/InFlightPacket.obj
RoboCat/Debug/InputState.obj
RoboCat/Debug/Line.obj
RoboCat/Debug/MemoryBitStream.obj
RoboCat/Debug/Mouse.obj
RoboCat/Debug/Move.obj
RoboCat/Debug/MoveList.obj
RoboCat/Debug/NetworkManager.obj
RoboCat/Debug/openal32.dll
RoboCat/Debug/RoboCat.Build.CppClean.log
RoboCat/Debug/RoboCat.idb
RoboCat/Debug/RoboCat.log
RoboCat/Debug/RoboCat.obj
RoboCat/Debug/RoboCat.pch
RoboCat/Debug/RoboCat.pdb
RoboCat/Debug/RoboCat.tlog/CL.command.1.tlog
RoboCat/Debug/RoboCat.tlog/CL.read.1.tlog
RoboCat/Debug/RoboCat.tlog/CL.write.1.tlog
RoboCat/Debug/RoboCat.tlog/Lib-link.read.1.tlog
RoboCat/Debug/RoboCat.tlog/Lib-link.write.1.tlog
RoboCat/Debug/RoboCat.tlog/Lib.command.1.tlog
RoboCat/Debug/RoboCat.tlog/RoboCat.lastbuildstate
RoboCat/Debug/RoboCat.vcxproj.FileListAbsolute.txt
RoboCat/Debug/RoboCatPCH.obj
RoboCat/Debug/RoboMath.obj
RoboCat/Debug/ScoreBoardManager.obj
RoboCat/Debug/sfml-audio-2.dll
RoboCat/Debug/sfml-audio-d-2.dll
RoboCat/Debug/sfml-graphics-2.dll
RoboCat/Debug/sfml-graphics-d-2.dll
RoboCat/Debug/sfml-network-2.dll
RoboCat/Debug/sfml-network-d-2.dll
RoboCat/Debug/sfml-system-2.dll
RoboCat/Debug/sfml-system-d-2.dll
RoboCat/Debug/sfml-window-2.dll
RoboCat/Debug/sfml-window-d-2.dll
RoboCat/Debug/ShadowFactory.obj
RoboCat/Debug/SocketAddress.obj
RoboCat/Debug/SocketAddressFactory.obj
RoboCat/Debug/SocketUtil.obj
RoboCat/Debug/SoundManager.obj
RoboCat/Debug/StringUtils.obj
RoboCat/Debug/TCPSocket.obj
RoboCat/Debug/Timing.obj
RoboCat/Debug/Trigonometry.obj
RoboCat/Debug/UDPSocket.obj
RoboCat/Debug/World.obj
RoboCat/Debug/Yarn.obj
RoboCat/RoboCat.vcxproj
RoboCat/x64/Debug/RoboCat.log
RoboCat/x64/Debug/RoboCat.tlog/CL.command.1.tlog
RoboCat/x64/Debug/RoboCat.tlog/RoboCat.lastbuildstate
RoboCat/x64/Debug/RoboCat.tlog/unsuccessfulbuild
RoboCat/x64/Debug/vc141.pdb
RoboCatClient/Debug/Client.obj
RoboCatClient/Debug/ClientMain.obj
RoboCatClient/Debug/FontManger.obj
RoboCatClient/Debug/HUD.obj
RoboCatClient/Debug/InputManager.obj
RoboCatClient/Debug/Log.obj
RoboCatClient/Debug/MouseClient.obj
RoboCatClient/Debug/NetworkManagerClient.obj
RoboCatClient/Debug/openal32.dll
RoboCatClient/Debug/PlayerTextureGenerator.obj
RoboCatClient/Debug/ReplicationManagerClient.obj
RoboCatClient/Debug/RoboCatClient.Build.CppClean.log
RoboCatClient/Debug/RoboCatClient.log
RoboCatClient/Debug/RoboCatClient.obj
RoboCatClient/Debug/RoboCatClient.pch
RoboCatClient/Debug/RoboCatClient.tlog/CL.command.1.tlog
RoboCatClient/Debug/RoboCatClient.tlog/CL.read.1.tlog
RoboCatClient/Debug/RoboCatClient.tlog/CL.write.1.tlog
RoboCatClient/Debug/RoboCatClient.tlog/link.command.1.tlog
RoboCatClient/Debug/RoboCatClient.tlog/link.delete.1.tlog
RoboCatClient/Debug/RoboCatClient.tlog/link.read.1.tlog
RoboCatClient/Debug/RoboCatClient.tlog/link.write.1.tlog
RoboCatClient/Debug/RoboCatClient.tlog/RoboCatClient.lastbuildstate
RoboCatClient/Debug/RoboCatClient.vcxproj.FileListAbsolute.txt
RoboCatClient/Debug/RoboCatClientPCH.obj
RoboCatClient/Debug/SFHealthSpriteComponent.obj
RoboCatClient/Debug/sfml-audio-2.dll
RoboCatClient/Debug/sfml-audio-d-2.dll
RoboCatClient/Debug/sfml-graphics-2.dll
RoboCatClient/Debug/sfml-graphics-d-2.dll
RoboCatClient/Debug/sfml-network-2.dll
RoboCatClient/Debug/sfml-network-d-2.dll
RoboCatClient/Debug/sfml-system-2.dll
RoboCatClient/Debug/sfml-system-d-2.dll
RoboCatClient/Debug/sfml-window-2.dll
RoboCatClient/Debug/sfml-window-d-2.dll
RoboCatClient/Debug/SFRenderManger.obj
RoboCatClient/Debug/SFSpriteComponent.obj
RoboCatClient/Debug/SFTextureManager.obj
RoboCatClient/Debug/SFWindowManager.obj
RoboCatClient/Debug/TexturedWorld.obj
RoboCatClient/Debug/vc141.idb
RoboCatClient/Debug/vc141.pdb
RoboCatClient/Debug/vc142.idb
RoboCatClient/Debug/vc142.pdb
RoboCatClient/Debug/YarnClient.obj
RoboCatClient/RoboCatClient.vcxproj
RoboCatServer/Debug/ClientProxy.obj
RoboCatServer/Debug/MouseServer.obj
RoboCatServer/Debug/NetworkManagerServer.obj
RoboCatServer/Debug/PersistantPlayerSprites.obj
RoboCatServer/Debug/ReplicationManagerServer.obj
RoboCatServer/Debug/ReplicationManagerTransmissionData.obj
RoboCatServer/Debug/RoboCatServer.Build.CppClean.log
RoboCatServer/Debug/RoboCatServer.log
RoboCatServer/Debug/RoboCatServer.obj
RoboCatServer/Debug/RoboCatServer.pch
RoboCatServer/Debug/RoboCatServer.tlog/CL.command.1.tlog
RoboCatServer/Debug/RoboCatServer.tlog/CL.read.1.tlog
RoboCatServer/Debug/RoboCatServer.tlog/CL.write.1.tlog
RoboCatServer/Debug/RoboCatServer.tlog/link.command.1.tlog
RoboCatServer/Debug/RoboCatServer.tlog/link.delete.1.tlog
RoboCatServer/Debug/RoboCatServer.tlog/link.read.1.tlog
RoboCatServer/Debug/RoboCatServer.tlog/link.write.1.tlog
RoboCatServer/Debug/RoboCatServer.tlog/RoboCatServer.lastbuildstate
RoboCatServer/Debug/RoboCatServer.vcxproj.FileListAbsolute.txt
RoboCatServer/Debug/RoboCatServerPCH.obj
RoboCatServer/Debug/Server.obj
RoboCatServer/Debug/ServerMain.obj
RoboCatServer/Debug/vc141.idb
RoboCatServer/Debug/vc141.pdb
RoboCatServer/Debug/vc142.idb
RoboCatServer/Debug/vc142.pdb
RoboCatServer/Debug/YarnServer.obj
RoboCatServer/RoboCatServer.vcxproj
